* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}


:root {
    /* variables de color */
    --background: linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);

    --verde: rgba(36, 105, 39, 0.795);
    --amarillo: #F7E914;
    --gris: #c4c4c4;

    --azul1: #345FB4;
    --azul2: #6789CA;
    --gris1: #313131;
    --gris2: #777777;
    --gris3: #a5a5a5;
    --gris4: #cacaca;

    /* variables de tamaño de letra */
    --size-h1 : 3.6rem;
    --size-h2 : 2.6rem;
    --size-h3 : 2rem;
    --texto : 1.6rem;
}

/* Estructura de las secciones */

.background-section {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-body {
    max-width: 30.5rem;
    height: auto;
    margin: auto;
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;
  
}
section{
    max-width: 37.5rem;
    height: auto;
    margin: auto;
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;
}
