/*Body*/
.section-movil{
    max-width: 375px;
    
}
/*------------------*/
.logo{
    width: 115px;
    padding: 2px;
    margin: 5rem 5rem 5rem 10rem;

    align-items: center;
   
}
.imagenwire{
    margin-top: 22rem;
    width: 350px;
    height:310.44px;
    

}

